<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="org.kh.meme.member.domain.Member" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="mGrade" column="M_GRADE" />
		<result property="mStatus" column="M_STATUS" />
	</resultMap>

	<select id="selectAllMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL WHERE M_STATUS = 'Y' AND M_GRADE = 'M'
	</select>
	<select id="selectLoginMember" parameterType="org.kh.meme.member.domain.Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId } AND MEMBER_PW = #{memberPw }
	</select>
	<select id="selectById" parameterType="string" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId }
	</select>
	<select id="selectMemberByNameEmail" parameterType="org.kh.meme.member.domain.Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName } AND MEMBER_EMAIL = #{memberEmail }
	</select>
	<select id="selectMemberByIdNameEmail" parameterType="org.kh.meme.member.domain.Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId } AND MEMBER_NAME = #{memberName } AND MEMBER_EMAIL = #{memberEmail }
	</select>
	<select id="selectAllMember" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE M_STATUS = 'Y' AND M_GRADE = 'M' ORDER BY MEMBER_ID DESC
  </select>
	<insert id="insertMember" parameterType="org.kh.meme.member.domain.Member">
		INSERT INTO MEMBER_TBL VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberNickname}, #{memberEmail}, DEFAULT, DEFAULT)
	</insert>
	<update id="updateMember" parameterType="org.kh.meme.member.domain.Member">
		UPDATE MEMBER_TBL SET MEMBER_PW = #{memberPw }, MEMBER_EMAIL = #{memberEmail } WHERE MEMBER_ID = #{memberId }
	</update>
	<update id="updateMemberPw" parameterType="org.kh.meme.member.domain.Member">
		UPDATE MEMBER_TBL SET MEMBER_PW = #{memberPw } WHERE MEMBER_ID = #{memberId }
	</update>
	<delete id="deleteMember" parameterType="string">
		DELETE FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId }
	</delete>
</mapper>